
/* Reset the browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  height: 100%;
  background-color: #050505; /* Black background */
  overflow-x: hidden;
  font-family: sans-serif;
}